{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1>Map </h1>
<input type="number" placeholder="Code Postal">
<input type="text" placeholder="Ville">
<input type="submit" value="Rechercher">
             <div id="map">
             
             </div>
{% endblock %}
